@media screen and (min-width: 480px) {

    .container {
        max-width: 480px;
    }

    .hero {
        background-image: var(--gra), url(../img/tablet-bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--gra), url(../img/tablet-bg-2x.jpg);
        }
    }

    .hero-title {
        font-size: 36px;
    }

    .mob-menu-soc-list {
        display: flex;
        justify-content: center;
        gap: 68px;
    }

    .mob-menu-tell {
        font-size: 36px;
    }



    /*---------------------Customers---------------*/

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;
        justify-content: center;
    }


    /*--------------------MODAL----------------------*/

    .modal {
        width: 394px;
    }


    .modal-name {
        font-size: 16px;
    }

    .input-name {
        font-size: 12px;
    }

    .check-text {
        font-size: 12px;
    }

    .accept-link {
        font-size: 12px;
    }


    .footer-input {
        width: 396px;
    }

}