:root {
 --title-color: #2E2F42;
 --text-color: #434455;
}

body {
font-family: "Roboto". sans-serif;
color: #434455;
background-color: #FFFFFF;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*----------------HEADER-----------------*/


.header {
    background-color: #FFFFFF;
}

.header-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-studio {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-navigation {

}

.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link:hover,
.header-link:focus {
    color: #4D5AE5;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts:hover,
.contacts:focus {
    color: #4D5AE5;
}

/*----------------HERO-----------------*/

.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.button {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}


/*----------------ADVANTAGES-----------------*/

.advantages {

}

.advantages-list {

}
 
.advantages-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.aadvantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/*----------------WHAT WE DO-----------------*/

.work {

}

.work-title {
    font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title-color);
}

/*----------------TEAM-----------------*/

.team {
    background-color: #F4F4FD;;
}

.team-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    
}

.team-list {
    background-color: #FFFFFF;
}

.team-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/*----------------FOOTER-----------------*/

.footer {
    background-color: #2E2F42;
}

.footer-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-studio {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}


/*-------------PORTFOLIO--------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }



.portfolio-button {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: #FFFFFF;
    background-color: #4D5AE5;
}



.portfolio-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}